/* Overall style */
* {
	box-sizing: border-box;
	clear: both;
}

body {
	margin: 0;
	padding: 0.5em 0.5em 0;
	background: white;
	font-family: "Liberation Sans", Arial, sans-serif;
	font-size: small;
}

main {
	text-align: center;
	padding-top: 20%;
}

footer {
	position: absolute;
	margin: 0;
	bottom: 4px;
	left: 0;
	right: 0;
	height: 2em;
	background-color: #f2f2f2;
	border: 1px solid #e4e4e4;
}

/* Navigation, links */
ul {
	list-style-type: none;
	margin: 0 0.5em;
	padding: 0.5em 0;
}

li {
	display: inline-block;
	margin: 0 0.75em;
}

header li {
	font-size: x-small;
}

a {
	text-decoration: none;
	color: #707070;
}

a:hover {
	text-decoration: underline;
}

header a {
	color: #222222;
}

.hyperlink {
	color: #483ebc;
}

.login {
	color: white;
	background-color: #4285f4;
	display: inline-block;
	padding: 0.5em 0.75em;
}

.login:hover {
	text-decoration: none;
}

/* Main functionality */
.search-bar {
	margin: 1.5em 0 0.5em;
	padding: 1em;
	min-width: 30%;
	max-width: 90%;
	height: 3.5em;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	box-shadow: 0px 2px 1px #c8c8c8;
}

.query-btn input {
	margin: 2em 0.5em 0.5em;
	padding: 0.75em 1em;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	font-weight: bold;
	color: #757575;
	background-color: #f2f2f2;
}

.query-btn input:hover {
	border: 1px solid #dcdcdc;
	color: #222222;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/* Alignment */
.center-al {
	margin: 0 auto;
	display: block;
	text-align: center;
}

.right-al {
	float: right;
}

.left-al {
	float: left;
}

.g-recaptcha {
	display: inline-block;
	margin: 2em;
}
